@import 'normalize.css';
@import 'fonts/stylesheet.css';

/* vars */
:root {
  /* colors */
  --light: #ecececff;
  --strong: #6c00a5ff;
  --shadow: rgba(0, 0, 0, .3);
}

/* generic */
a {
  color: var(--strong);
}
body {
  font: 20px/1.2 'Quicksand', sans-serif;
}
  body > *:nth-child(odd) {
    background: var(--light);
  }
h1, h2 {
  font-family: 'Caladea', serif;
  font-weight: normal;
}

/* components */
.about, .contact, .dev, .training {
  padding: 2rem;
}
  .about__card {
    margin: 2rem 0 4rem;
    text-align: center;
  }
  .about__function {
    margin-top: 0;
  }
  .about__name {
    color: var(--strong);
    margin-bottom: 0;
  }

.contact {
  text-align: center;
}
  .contact__logo {
    vertical-align: middle;
  }

.dev__card, .training__card {
  margin: 2rem 1rem 2rem 0;
}
.dev__card {
  margin-bottom: 4rem;
  max-width: 700px;
  /* width: 300px; */
}
.dev__list, .training__list {
  list-style: none;
  padding: 0;
}
.dev__preview {
  box-shadow: 5px 10px 0 var(--shadow);
  display: block;
  margin-left: 2rem;
}
.dev__title, .training__title {
  color: var(--strong);
  text-align: center;
}

.training__card {
  align-items: center;
  display: flex;
}
.training__logo {
  flex: 0 0 149px;
  margin-right: 1rem;
  width: 149px;
}

@media (min-width: 1200px) {
  .about, .contact, .dev, .training {
    padding: 2rem calc((100vw - 1200px) / 2);
  }
    .about__avatar {
      margin-right: 4rem;
    }
    .about__card {
      align-items: center;
      display: flex;
      justify-content: center;
      text-align: left;
    }
    .about__name {
      font-size: 50px;
    }

  .dev__card {
    width: 300px;
  }
  .dev__list, .training__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .training__card {
    display: block;
    width: 200px;
  }
  .training__logo {
    margin-bottom: 1rem;
  }
}
